<div class="wrap">
    <div>
      <div class="bg-color top-header">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <ul class="list-inline-block header-top-menu">
                <li><a routerLink="/contactus">About</a></li>
                <li><a href="#">FAQ</a></li>
  
              </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <ul class="text-right list-inline-block header-top-menu header-contact-link">
                <li><a href="#"><i class="fa fa-volume-control-phone" aria-hidden="true"></i>+91 7490878928</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="header-general">
        <div class="container">
          <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12">
              <div class="logo logo-pages">
                <!-- <h1 class="hidden">topshop wordpress theme</h1> -->
                <a routerLink="/"><img src="assets/giftvilla_logo.jpg" height="100px" width="100px" alt="" /></a>
              </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-3">
              <nav class="main-nav main-nav-pages">
                <ul>
                  <li class="menu-item-has-children"><a routerLink="/dashbord">Home </a></li>
                  <li class="menu-item-has-children"><a routerLink="/contactus">Contact Us</a></li>
                  <li class="menu-item-has-children"><a routerLink="/profile">Profile</a></li>
                  <li clas="menu-item-has-children"><a routerLink="/pastorder">Past deliverd orders</a></li>
                  <!-- <li clas="menu-item-has-children"><a routerLink="/help">Help</a></li> -->
                  <li class="menu-item-has-children" style="color: blue;"><a (click)="onlogoutclick()">LogOut</a></li>
                  <!-- <button class="menu-item-has-children" (click)="onlogoutclick()">Logout</button> -->
                </ul>
                <a href="#" class="toggle-mobile-menu"><span></span></a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
