<div id="footer">
    <div class="footer">
  
      <div class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-box contact-footer">
              <h2 class="title18 mont-font color">CONTACT US</h2>
              <p class="contact-address"><i class="fa fa-map-marker" aria-hidden="true"></i> Our business address is
                <br /> Govt. A Colony, dariyakhan Gummat, shahibaug-380004.</p>
              <p class="contact-mobile"><i class="fa fa-mobile" aria-hidden="true"></i> +91 7490878928</p>
              <p class="contact-email"><i class="fa fa-location-arrow" aria-hidden="true"></i> <a
                  href="mailto:support@storetopshop.com">giftvilla2020@gmail.com</a></p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-box menu-footer">
              <h2 class="title18 mont-font color">Giftvilla INFO</h2>
              <ul class="list-none">
                <li><a routerLink="/contactus">About Us</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a routerLink="/myprofile">Profile</a></li>
                <li><a routerLink="/pastOrders">Past deliverd orders</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="assets/giftvilla_logo.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- End Main Footer -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-8 col-xs-12">
            <h2 class="logo-footer mont-font title24 inline-block"><a href="#" class="color">Giftvilla</a></h2>
            <ul class="list-inline-block nav-footer">
              <li><a routerLink="/contactus">About us</a></li>
              <li><a routerLink="/privacy">Privacy Policy </a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="payment-method text-right">
              <img src="assets/images/icons/pay1.png" alt="">
  
            </div>
          </div>
        </div>
      </div>
    </div>
  
    </div>
  </div>
  
