.demo {
    height: 10%;
    width: 100%;
    background-color: lightpink;
    text-align: center;
    /* font-family: 'Times New Roman', 'Times', 'serif'; */
    font-size: 200%;
  }
  table {
    width: 100%;
    height: 10%;
    /* background-color: lightcyan; */
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  img {
    float: left;
  }
  
  td,
  th {
    width: 10%;
  }
  
  .bgc {
    width: 100%;
  }
  
  .btn {
    text-align: right;
  }
  .example-card {
  border-radius: 20px;
    width: 50%;
    height: auto;
    float: left;
    margin-bottom: 30px;
    position: relative;
  }
  