<app-header></app-header>
<div class="contact-page-info blockquote">
  <div class="row">
    <div class="col-md-5 col-sm-12 col-xs-12">
      <div class="contact-box contact-address-box">
        <span class="color"><i class="fa fa-institution"></i></span>
        <label class="title16 color">ADDRESS:</label>
        <p class="desc">inside A colony, dariyakhan gummat, shahibaug, ahmedabad-04. </p>
      </div>
    </div>
    <div class="col-md-4 col-sm-7 col-xs-12">
      <div class="contact-box">
        <span class="color"><i class="fa fa-phone"></i></span>
        <ul class="list-inline-block">
          <li>
            <label class="title16 color">PHONES:</label>
          </li>
          <li>
            <span>7490878928</span>
          </li>
        </ul>
      </div>
      <div class="contact-box">
        <span class="color"><i class="fa fa-fax"></i></span>
        <ul class="list-inline-block">
          <li>
            <label class="title16 color">Fax:</label>
          </li>
          <li>
            <span>7490878928</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 col-sm-5 col-xs-12">
      <div class="contact-box">
        <span class="color"><i class="fa fa-envelope-open"></i></span>
        <label class="title16 color">e-mail:</label>
        <p class="desc"><a href="#">giftvilla2020@gmail.com</a></p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

